@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@using web_app.Helper;
@using web_app.Models.Procedure;
@using web_app.Models.Repository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model web_app.Models.View.HomeViewModel.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}
@section CSS {
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
    <style>
        .bi {
            vertical-align: -.125em;
            fill: white;
        }

        .map {
            width: 100%;
            height: 400px;
        }
    </style>

}
@section SVG {
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
        </symbol>
    </svg>
}

@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        <div class="container">
            @if (Model.CheckoutBasketProcedureModelV1Enumerable is not null &&
           Model.CheckoutBasketProcedureModelV1Enumerable.Count() == 0)
            {
                <div class="bd-example m-3">
                    <p class="lead">
                        You have no any items in your checkout.
                    </p>
                </div>
                <li class="list-group-item text-center">
                    <form class="p-2">
                        <div class="col-lg-6 col-xxl-4 my-2 mx-auto">
                            <div class="d-grid gap-2">
                                <a asp-controller="Home" asp-action="Product" class="btn btn-primary" type="button">Add Item</a>
                            </div>
                        </div>
                    </form>
                </li>
            }
            else
            {
                if (Model.CheckoutBasketProcedureModelV1Enumerable is not null)
                {
                    double totalCost = 0.0;
                    double totalUnits = Model.CheckoutBasketProcedureModelV1Enumerable.Sum(b => b.Quantity);
                    <div class="col-md-12 order-md-2 my-5">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Your cart</span>
                            <span class="badge bg-primary rounded-pill">@totalUnits</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (CheckoutBasketProcedureModel.V1? v1 in Model.CheckoutBasketProcedureModelV1Enumerable)
                            {
                                if (v1 is not null)
                                {
                                    double itemCost = v1.Quantity * v1.Price;
                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">@v1.Quantity x @v1.Name</h6>
                                            <small class="text-muted">@v1.Size @v1.Type</small>
                                        </div>
                                        <div>
                                            <div class="text-muted">@v1.Quantity x @v1.Price.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</div>
                                            <div class="text-muted">@itemCost.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</div>
                                        </div>
                                    </li>
                                    totalCost = totalCost + itemCost;
                                    totalUnits = totalUnits + v1.Quantity;
                                }
                            }
                            <li class="list-group-item text-center">
                                <div class="p-2">
                                    <div class="col-lg-6 col-xxl-4 my-2 mx-auto">
                                        <div class="d-grid gap-2">
                                            <a asp-controller="Home" asp-action="Product" class="btn btn-primary" type="button">Add Item</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <h4>Total</h4>
                                <h4>@totalCost.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</h4>
                            </li>
                        </ul>
                       

                        <form class="card p-2">
                            <div class="input-group">
                                <div id="map" class="map"></div>
                            </div>
                        </form>
                    </div>
                }
            }
        </div>
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}
@section JS {
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <script>
        var layers = [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            }),
            new ol.layer.Tile({
                extent: [-13884991, 2870341, -7455066, 6338219],
                source: new ol.source.TileWMS({
                    url: 'https://ahocevar.com/geoserver/wms',
                    params: { 'LAYERS': 'topp:states', 'TILED': true },
                    serverType: 'geoserver',
                    // Countries have transparency, so do not fade tiles:
                    transition: 0
                })
            })
        ];
        var map = new ol.Map({
            layers: layers,
            target: 'map',
            view: new ol.View({
                center: [0, 0],
                zoom: 2
            })
        });

        const coordinates = [
            [-1.486821, 52.926413],
            [-1.495123, 52.925369],
        ];

        fetch(
            'https://router.project-osrm.org/route/v1/driving/' +
            coordinates.join(';') +
            '?overview=full&geometries=polyline6'
        ).then(function (response) {
            response.json().then(function (result) {
                const polyline = result.routes[0].geometry;

                const route = new Polyline({
                    factor: 1e6,
                }).readGeometry(polyline, {
                    dataProjection: 'EPSG:4326',
                    featureProjection: map.getView().getProjection(),
                });
                const routeFeature = new Feature({
                    type: 'route',
                    geometry: route,
                });

                const vectorLayer = new VectorLayer({
                    source: new VectorSource({
                        features: [routeFeature],
                    }),
                    style: new Style({
                        stroke: new Stroke({
                            width: 4,
                            color: 'red',
                        }),
                    }),
                });

                map.addLayer(vectorLayer);
                map.getView().fit(routeFeature.getGeometry());
            });
        });
    </script>

}