@using Microsoft.AspNetCore.Identity
@using web_app.Models.Repository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model web_app.Models.View.HomeViewModel.DeliveryViewModel
@{
    ViewData["Title"] = "Delivery";
}
@section CSS{
    <link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/LKStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/blank-space" rel="stylesheet" to html>
}

<style>
    body {
        background: rgb(56,59,83) !important;
        background: radial-gradient(circle, rgba(56,59,83,1) 0%, rgba(0,0,0,1) 100%) !important;
        /*!!IMPORTANT forces grid display which stops headers & footers moving around*/
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;
}
</style>
<div class="stars"></div>
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        @if (!string.IsNullOrEmpty(Context.Request.Query["Message"]))

        
        {
            <section class="h-100 h-custom" style="background-color: transparent;">
                <div class="container pt-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="alert alert-danger">@Context.Request.Query["Message"]</div>
                        </div>
                    </div>
                </div>
            </section>
        }
        @if (Model.AppCheckout is not null)
        {

            <section class="h-100 h-custom" style="background-color: transparent;">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card bannerwide rounded">
                                <div class="card-body p-4">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            @if (Model.AppAddressIEnumerable is not null &&
Model.AppAddressIEnumerable.Count() == 0)
                                            {
                                                <div class="card bannerwide rounded">
                                                    <div class="card-body p-4">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="h5" style="color: white; font-family: roboto, arial; text-align:center;font-size: 20px; padding-top: 20px;">
                                                                    You have no saved addresses
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="text-center" style="margin-top: 20px;">
                                                    <a asp-controller="Home" asp-action="Address" class="w-100 btn btn-primary btn-lg mt-4 searchbtnactblue">
                                                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Add Address
                                                                    </a>
                                                                </div>

                                                           


                                                     

                                                   
                                                
                                            }
                                            else
                                            {
                                                if (Model.AppAddressIEnumerable is not null)
                                                {
                                                    <div class="row">
                                                        <div class="col-lg-4 h5 mb-3">
                                                            Select address
                                                        </div>
                                                    </div>
                                                    @foreach (AppAddress? appAddress in Model.AppAddressIEnumerable)
                                                    {
                                                        if (appAddress is not null)
                                                        {

                                                            <div class="card mb-3" style="background-color: #383b53 !important;font-family: roboto, Arial; color: white !important;">
                                                                <div class="card-body">
                                                                    <div class="d-flex justify-content-between">
                                                                        <div class="d-flex flex-row align-items-center">
                                                                            <div>
                                                                                <a asp-controller="Home" asp-action="DeliveryAddress" asp-route-AddressId="@appAddress.AddressId" class="rounded-circle lh-1 modal-link-plus">
                                                                                    <img src="https://cdn-icons-png.flaticon.com/512/4315/4315609.png" class="bi" width="32" height="32" />
                                                                                </a>
                                                                            </div>
                                                                            <div class="ms-3">
                                                                                <h5>@appAddress.PostCode</h5>
                                                                                <p class="small mb-0">@appAddress.HouseNumber @appAddress.Street @appAddress.Region @appAddress.Country</p>
                                                                            </div>
                                                                        </div>
                                                                        @if(appAddress.AddressId.Equals(Model.AppCheckout.AddressId))
                                                                        {
                                                                            <div class="d-flex flex-row align-items-center">
                                                                                <div style="width: 80px;">
                                                                                    <div class="btn rounded-circle lh-1 modal-link-plus">
                                                                                        <img src="https://cdn-icons-png.flaticon.com/512/4315/4315445.png" class="btn rounded-circle lh-1 modal-link-plus" width="64" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                       
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }


                                                    <div class="text-center">
                                                        <a asp-controller="Home" asp-action="Address" class="w-100 btn btn-primary btn-lg mt-4 searchbtnactblue">
                                                            <i class="fas fa-long-arrow-alt-left me-2"></i>Add Address
                                                        </a>
                                                        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 30px">

                                                            <a asp-controller="Home" asp-action="Payment" class="barelink redpillcnt" style="padding-top: 8px">
                                                                <i class="fas fa-long-arrow-alt-left me-2"></i>Payment
                                                            </a>
                                                        </div>
                                                    </div>


                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
                
        
        }
        else
        {
            <section class="h-100 h-custom" style="background-color: transparent;">
                <div class="container pb-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card" >
                                <div class="card-body p-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="h5 text-xl-start">
                                                Go to <a asp-controller="Home" asp-action="Checkout" class="text-body">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}