@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@using web_app.Helper;
@using web_app.Models.Procedure;
@using web_app.Models.Repository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model web_app.Models.View.HomeViewModel.IndexViewModel

@{
    ViewData["Title"] = "Index";
}
@section CSS {
    <style>
        .bi {
            vertical-align: -.125em;
            fill: white;
        }

        body{
            /*!!IMPORTANT forces grid display which stops headers & footers moving around*/
            min-height: 100vh;
            display: grid;
            grid-template-rows: 1fr auto;
        }
    </style>

}
@section SVG {
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
        </symbol>
    </svg>
}
<div class="containerwidenopad">
<div class="stars"></div>
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        <div class="my-5">
                <div class="text-center p-5 bannerwide">
                   @* <img class="pizzaimg" src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/image/shared/cheesy.png">*@
                <h1 class="welcome text-body-emphasis mb-5">Welcome @Model.AspNetUser.UserName</h1>
                    <div class="btnw">
                        <a asp-controller="Home" asp-action="Product" class="barelink pizzabtn" type="button">
                        Browse Menu
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="bsblueh1">Order History</div>
            @if (Model.CheckoutProcedureModelV2Enumerable is not null &&
            Model.CheckoutProcedureModelV2Enumerable.Count() == 0)
            {
                <div class="bd-example m-3">
                    <p class="lead">
                        You have no any previous checkouts.
                    </p>
                </div>
            }
            else
            {
                if (Model.CheckoutProcedureModelV2Enumerable is not null)
                {
                        <div class="histlistcontainer">
                        @foreach (CheckoutProcedureModel.V2? v2 in Model.CheckoutProcedureModelV2Enumerable)
                    {
                            if (v2 is not null)
                            { @if (v2.Status is not null)
                                    {
                                        if (v2.Status.Equals("PROCESS"))
                                        {

                                        <a asp-controller="Home" asp-action="Process" asp-route-CheckoutId="@v2.CheckoutId"
                                           class="whiteborderbtm list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                            <span class="rounded-circle flex-shrink-0">PROCESS</span>
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    @if (v2.Sum == 0.0)
                                                    {
                                                        <h6 class="mb-0">No items</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="mb-0">@v2.Item - @v2.Sum.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                                                    }

                                                </div>
                                                <small class="opacity-50 text-nowrap">@Time.ToRelativeDate(v2.ModifyTime)</small>
                                            </div>
                                        </a>
                                        }
                                        else if (v2.Status.Equals("DELIVERY"))
                                        {
                                        <a asp-controller="Home" asp-action="Process" asp-route-CheckoutId="@v2.CheckoutId"
                                           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                            <span class="rounded-circle flex-shrink-0">DELIVERY</span>
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    @if (v2.Sum == 0.0)
                                                    {
                                                        <h6 class="mb-0">No items</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="mb-0">@v2.Item - @v2.Sum.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                                                    }

                                                </div>
                                                <small class="opacity-50 text-nowrap">@Time.ToRelativeDate(v2.ModifyTime)</small>
                                            </div>
                                        </a>
                                        }
                                        else if (v2.Status.Equals("COMPLETE"))
                                        {
                                        <a asp-controller="Home" asp-action="Invoice" asp-route-CheckoutId="@v2.CheckoutId"
                                           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                            <span class="rounded-circle flex-shrink-0">COMPLETE</span>
                                            <div class="d-flex gap-2 w-100 justify-content-between">
                                                <div>
                                                    @if (v2.Sum == 0.0)
                                                    {
                                                        <h6 class="mb-0">No items</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="mb-0">@v2.Item - @v2.Sum.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                                                    }

                                                </div>
                                                <small class="opacity-50 text-nowrap">@Time.ToRelativeDate(v2.ModifyTime)</small>
                                            </div>
                                        </a>
                                    }
                                    else if (v2.Status.Equals("OK"))
                                    {
                                        <a asp-controller="Home" asp-action="Process" asp-route-CheckoutId="@v2.CheckoutId"
                                class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                                            <span class="rounded-circle flex-shrink-0">OK</span>
                                                <div class="d-flex gap-2 w-100 justify-content-between">
                                                    <div>
                                                        @if (v2.Sum == 0.0)
                                                        {
                                                            <h6 class="mb-0">No items</h6>
                                                        }
                                                        else
                                                        {
                                                            <h6 class="mb-0">@v2.Item - @v2.Sum.ToString("C3", CultureInfo.CreateSpecificCulture("en-GB"))</h6>
                                                        }

                                                    </div>
                                                    <small class="opacity-50 text-nowrap">@Time.ToRelativeDate(v2.ModifyTime)</small>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            
                                        }
                                    }

                               
                            }
                            
                    }
                    </div>
                }
                
              
                 
               
            }
        </div>
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}
</div>