@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@using web_app.Helper;
@using web_app.Models.Procedure;
@using web_app.Models.Repository;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model web_app.Models.View.HomeViewModel.InvoiceViewModel

@{
    if(Model is not null && Model.AppCheckout is not null)
    {
        ViewData["Title"] = "Invoice - " + Model.AppCheckout.CheckoutId;
    }
    else
    {
        ViewData["Title"] = "Invoice - #Error: CheckoutId is NULL";
    }
}
@section CSS {
    <style>
        body{
            /*!!IMPORTANT forces grid display which stops headers & footers moving around*/
            min-height: 100vh;
            display: grid;
            grid-template-rows: 1fr auto;
        }
        .bi {
            vertical-align: -.125em;
            fill: white;
        }

        .text-secondary-d1 {
            color: #728299 !important;
        }

        .page-header {
            margin: 0 0 1rem;
            padding-bottom: 1rem;
            padding-top: .5rem;
            border-bottom: 1px dotted #e2e2e2;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -ms-flex-align: center;
            align-items: center;
        }

        .page-title {
            padding: 0;
            margin: 0;
            font-size: 1.75rem;
            font-weight: 300;
        }

        .brc-default-l1 {
            border-color: #dce9f0 !important;
        }

        .ml-n1, .mx-n1 {
            margin-left: -.25rem !important;
        }

        .mr-n1, .mx-n1 {
            margin-right: -.25rem !important;
        }

        .mb-4, .my-4 {
            margin-bottom: 1.5rem !important;
        }

        hr {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 1px solid rgba(0,0,0,.1);
        }

        .text-grey-m2 {
            color: #888a8d !important;
        }

        .text-success-m2 {
            color: #86bd68 !important;
        }

        .font-bolder, .text-600 {
            font-weight: 600 !important;
        }

        .text-110 {
            font-size: 110% !important;
        }

        .text-blue {
            color: #478fcc !important;
        }

        .pb-25, .py-25 {
            padding-bottom: .75rem !important;
        }

        .pt-25, .py-25 {
            padding-top: .75rem !important;
        }

        .bgc-default-tp1 {
            background-color: rgba(121,169,197,.92) !important;
        }

        .bgc-default-l4, .bgc-h-default-l4:hover {
            background-color: #f3f8fa !important;
        }

        .page-header .page-tools {
            -ms-flex-item-align: end;
            align-self: flex-end;
        }

        .btn-light {
            color: #757984;
            background-color: #f5f6f9;
            border-color: #dddfe4;
        }

        .w-2 {
            width: 1rem;
        }

        .text-120 {
            font-size: 120% !important;
        }

        .text-primary-m1 {
            color: #4087d4 !important;
        }

        .text-danger-m1 {
            color: #dd4949 !important;
        }

        .text-blue-m2 {
            color: #68a3d5 !important;
        }

        .text-150 {
            font-size: 150% !important;
        }

        .text-60 {
            font-size: 60% !important;
        }

        .text-grey-m1 {
            color: #7b7d81 !important;
        }

        .align-bottom {
            vertical-align: bottom !important;
        }
    </style>

}
@section SVG {
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
        </symbol>
    </svg>
}

@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        <div class="page-content container mt-2">
            <div class="page-header text-blue-d2">
                <h1 class="page-title text-secondary-d1">
                    Invoice
                    <small class="page-info">
                        ID: #@Model.AppCheckout.CheckoutId
                    </small>
                </h1>
                </div>
            </div>

            <div class="container px-0">
                <div class="row mt-4">
                    <div class="col-12 col-lg-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center text-150 mb-4">
                                    <img src="https://pizzaplanetstorage.blob.core.windows.net/static/static/web-app/image/shared/logo.png" 
                                    width="128" class="text-80" />
                                </div>
                            </div>
                        </div>
                        <hr class="row brc-default-l1 mx-n1 mb-4" />

                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <span class="text-600 text-sm text-grey-m2 align-middle">To:</span>
                                    <span class="text-110 align-middle">@Model.AspNetUser.UserName</span>
                                </div>
                                @if(Model.AppCheckout.DeliveryMethod.Equals("DELIVERY"))
                                {
                                    if (Model.AppAddress is not null)
                                    {
                                        <div class="text-grey-m2">
                                            @if (Model.AppAddress.HouseNumber is not null && Model.AppAddress.Street is not null)
                                            {
                                                <div class="my-1">
                                                    @Model.AppAddress.Region, @Model.AppAddress.Country
                                                </div>
                                            }
                                            @if (Model.AppAddress.Region is not null && Model.AppAddress.Country is not null)
                                            {
                                                <div class="my-1">
                                                    @Model.AppAddress.Region, @Model.AppAddress.Country
                                                </div>
                                            }
                                            @if (Model.AppAddress.PostCode is not null)
                                            {
                                                <div class="my-1">
                                                    <i class="fa fa-phone fa-flip-horizontal text-secondary"></i> <b class="text-600">@Model.AppAddress.PostCode</b>
                                                </div>
                                            }
                                       
                                        </div>
                                    }  
                                }
                                else
                                {
                                    <div>
                                        <span class="text-600 text-sm text-grey-m2 align-middle">Delivery Method:</span>
                                        <span class="text-110 align-middle">@Model.AppCheckout.DeliveryMethod</span>
                                    </div>
                                }
                            </div>
                            <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                                <hr class="d-sm-none" />
                                <div class="text-grey-m2">
                                    <div class="mt-1 mb-2 text-secondary-m1 text-600 text-125">
                                        Invoice
                                    </div>

                                    <div class="my-2">
                                        <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                        <span class="text-600 text-90">ID:</span> #@Model.AppCheckout.CheckoutId
                                        </div>

                                     <div class="my-2">
                                         <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i>
                                         <span class="text-600 text-90">Issue Date:</span> @Model.AppCheckout.ModifyTime
                                         </div>

                                    <div class="my-2">
                                        <i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> 
                                        <span class="text-600 text-90">Status:</span> 
                                        <span class="px-25">@Model.AppCheckout.Status</span>
                                    </div>
                            </div>
                        </div>
                        @if (Model.CheckoutBasketProcedureModelV1Enumerable is not null)
                        {
                            <div class="mt-4">
                                <div class="row text-600 text-white bgc-default-tp1 py-25">
                                    <div class="d-none d-sm-block col-1">#</div>
                                    <div class="col-9 col-sm-5">Description</div>
                                    <div class="d-none d-sm-block col-4 col-sm-2">Qty</div>
                                    <div class="d-none d-sm-block col-sm-2">Unit Price</div>
                                    <div class="col-2">Amount</div>
                                </div>

                                @{
                                    double totalCost = 0.0;
                                    double totalUnits = Model.CheckoutBasketProcedureModelV1Enumerable.Sum(b => b.Quantity);
                                    foreach (CheckoutBasketProcedureModel.V1? v1 in Model.CheckoutBasketProcedureModelV1Enumerable.OrderBy(b => b.Type).ToList())
                                    {
                                        if (v1 is not null)
                                        {
                                            double itemCost = v1.Quantity * v1.Price;
                                            <div class="text-95 text-secondary-d3">
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                    <div class="d-none d-sm-block col-1">@v1.Type</div>
                                                    <div class="col-9 col-sm-5">@v1.Name</div>
                                                    <div class="d-none d-sm-block col-2">@v1.Quantity</div>
                                                    <div class="d-none d-sm-block col-2 text-95">@v1.Price.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</div>
                                                    <div class="col-2 text-secondary-d2">@itemCost.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</div>
                                                </div>
                                            </div>

                                            totalCost = totalCost + itemCost;
                                            totalUnits = totalUnits + v1.Quantity;

                                        }
                                    }



                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                                            @if(Model.AppCheckout.Comments is not null)
                                            {
                                                <span>Comment:</span> <span>@Model.AppCheckout.Comments</span>
                                            }
                                            else
                                            {
                                                <span>No comments</span>
                                            }
                                        </div>

                                    <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                                        <div class="row my-2">
                                            <div class="col-7 text-right">
                                                SubTotal
                                            </div>
                                            <div class="col-5">
                                                    <span class="text-120 text-secondary-d1">@totalCost.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}