@using Microsoft.AspNetCore.Identity
@using System.Globalization;
@using web_app.Models.Procedure;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model web_app.Models.View.HomeViewModel.ProductViewModel
@{
    ViewData["Title"] = "Type";
}
@if (SignInManager.IsSignedIn(User))
{
    @if (Model.AspNetUser is not null && Model.AspNetUser.Id is not null)
    {
        <partial name="/Views/Shared/_AuthNavPartial.cshtml" />
        <section class="h-100 h-custom border-bottom" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card">
                            <div class="card-body p-4">

                                <div class="row">

                                    <div class="col-lg-12">
                                        @if (Model.CheckoutBasketProcedureModelV2Enumerable is not null &&
                                       Model.CheckoutBasketProcedureModelV2Enumerable.Count() == 0)
                                        {
                                            <div class="card">
                                                <div class="card-body p-4">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="h5">
                                                                You have no any items in your checkout.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            if (Model.CheckoutBasketProcedureModelV2Enumerable is not null)
                                            {
                                                double totalCost = 0.0;
                                                double totalUnits = Model.CheckoutBasketProcedureModelV2Enumerable.Sum(b => b.Quantity);
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <a asp-controller="Home" asp-action="Checkout" class="display-6 mb-0 text-decoration-none text-black">Checkout</a>
                                                    </div>
                                                    <div>
                                                        <p class="mb-0 display-6">
                                                            @totalUnits
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <main>
                <div class="container px-1 py-5" id="custom-cards">
                    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch">
                        <div>
                            <h2 class="display-6">Products</h2>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
                        @if (Model.ProductProcedureModelV3Enumerable is not null)
                        {
                            var list = Model.ProductProcedureModelV3Enumerable
                            .GroupBy(i => new { i.ProductId, i.Name, i.Description, i.Size, i.Kcal, i.Price, i.Type, i.ProductImageUrl });
                            foreach (var item in list)
                            {
                                var groupKey = item.Key;
                                <a asp-controller="Home" asp-action="AddToBasket" asp-route-ProductId="@groupKey.ProductId" class="col text-decoration-none">
                                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                         style="background-image: url('@groupKey.ProductImageUrl'); background-size: cover">
                                        @if (Model.CheckoutBasketProcedureModelV2Enumerable is not null)
                                        {
                                            @foreach (CheckoutBasketProcedureModel.V2? v2 in Model.CheckoutBasketProcedureModelV2Enumerable
                                           .Where(c => c.ProductId == groupKey.ProductId).ToList())
                                            {
                                                if (v2 is not null)
                                                {
                                                    <span type="button"
                                                          class="position-absolute top-0 end-0 p-3 m-3 h1 text-light bg-opacity-10">@v2.Quantity</span>
                                                }
                                            }
                                        }
                                      
                                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                            <div class="mt-5 display-2 lh-1 text-light">@groupKey.Price.ToString("C2", CultureInfo.CreateSpecificCulture("en-GB"))</div>
                                            <h4 class="mb-4 display-6 lh-1 fw-bold text-light">@groupKey.Name</h4>
                                            @foreach (var groupedItem in item)
                                            {
                                                if (groupedItem is not null)
                                                {
                                                    <div class="text-light"><span>@groupedItem.ContentName</span> <span class="">@groupedItem.RecipeQuantity @groupedItem.RecipeMeasurement</span></div>
                                                }
                                            }
                                            <div class="mt-4">
                                                <ul class="d-flex list-unstyled mt-auto">
                                                    <li class="ms-1">
                                                        @if (Model.ProductContentProcedureModelV1Enumerable is not null)
                                                        {
                                                            @foreach (ProductContentProcedureModel.V1? v1 in Model.ProductContentProcedureModelV1Enumerable
                                                           .Where(p => p.ProductId == groupKey.ProductId).ToList())
                                                            {
                                                                if (v1 is not null && v1.GuideName is not "")
                                                                {
                                                                    <img src="@v1.GuideImageUrl" alt="@v1.GuideName" width="32" height="32"
                                                                         class="rounded-circle border border-white bg-light">
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                    <li class="ms-1">
                                                        @if (Model.ProductAllergyProcedureModelV2Enumerable is not null)
                                                        {
                                                            @foreach (ProductAllergyProcedureModel.V2? v2 in Model.ProductAllergyProcedureModelV2Enumerable
                                                           .Where(p => p.ProductId == groupKey.ProductId).ToList())
                                                            {
                                                                if (v2 is not null && v2.AllergyName is not "")
                                                                {
                                                                    <img src="@v2.AllergyImageUrl" alt="@v2.AllergyName" width="32" height="32"
                                                                         class="rounded-circle border border-white bg-light">
                                                                }
                                                            }
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>





            </main>
        </div>
        <partial name="/Views/Shared/_AuthFooterPartial.cshtml" />
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            User is already signed in. But no User ID. Contact Admin.
        </div>
    }
}